.form-pad{
    background-color: white;
    padding: 2em 1em;

  .field{
    display: flex;
    margin-top: 2em;

  }

  .field>label{
    width: 80px;
    flex-shrink: 0;
  }
  .field .field_input{
    flex-grow: 1;
    max-width: 50em;
    border-bottom: 1px solid #f7f7f7;

    select{
      width: auto;

    }
    //input[type=number]{
    //  width: auto;
    //
    //}

  }

}
.help_text{
  color: #a4a1a5;
  font-style: italic;
  font-size: 0.8em;
}

.field{
  .radio input[type="radio"]:focus + label::before {
    /* outline: thin dotted; */
    outline: none;
    /* outline-offset: -2px; */
  }
}
