.img-uploader input{
  display: none;
}
.img-uploader.disable{
  background-color: #e3e2e1;
}

.up_wrap{
  position: relative;
  text-align: center;
  border: 2px dashed #ccc;
  background: #FDFDFD;
  width:200px;
}

.closeDiv{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}
.choose{
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  border: 1px solid #0092F2;
  border-radius: 4px;
  font-size: 14px;
  color: #0092F2;
  cursor: pointer;
}
.choose:hover,.choose:active{
  text-decoration: none;
  color: #0092F2;
}
.close{
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #242424;
}

.logoImg{
  max-height: 100px !important;
  vertical-align: middle;
  margin-top: 5px;
}




.img-crop{

  .total-wrap{
    padding: 30px;
  }

  .crop-wrap{
    max-width: 100%;
    max-height: 90%;
    overflow: hidden;
  }
  .crop-img{
    max-width:100%;
    max-height: 100%;
  }
}

