#_load_frame_wrap{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display:none;
  z-index: 1000;
  background: rgba(88, 88, 88, 0.2);
}
#_load_frame{
  width: 100%;
  height: 100%;
  border-top: 1px solid #b6b6b6;
}
.imiddle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%); 	/* IE 9 */
  -moz-transform:translate(-50%, -50%); 	/* Firefox */
  -webkit-transform:translate(-50%, -50%); /* Safari 和 Chrome */
  -o-transform:translate(-50%, -50%);

  text-align: center;
  /*display: table;*/
  z-index: 10000;
}
.popframe{
  max-width:90vw;
  max-height:90vh;
  min-width: 40em;
  min-height: 30em;
  border: 2px solid #8e8e8e;
  -moz-box-shadow:2px 2px 20px #d0d0d0; -webkit-box-shadow:2px 2px 20px #b7b698; box-shadow:2px 2px 20px #828282;
  border-radius: 1em;
  padding-top: 3em;
  background-color:white ;

  .close-btn{
    position: absolute;
    right: 0.5em;
    top:0.4em;
    cursor: pointer;
    //&:hover{
    //  font-size: 1.3em;
    //}
  }
  .title{
    position: absolute;
    top:0.5em;
    left: 50%;
    transform: translate(-50%,0);
  }
}